# Disable JDCloud RE-SS-01 Wi-Fi calibration data
CONFIG_PACKAGE_ipq-wifi-jdcloud_re-ss-01=n

# Disable Qualcomm/Atheros Wi-Fi drivers
CONFIG_PACKAGE_kmod-ath=n
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n

# Disable ath11k firmware packages
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018-ddwrt=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074-ddwrt=n

# Disable wireless userspace
CONFIG_PACKAGE_wpad-openssl=n
